.allnews{
    display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:30px;
        margin-top:50px;
        margin-left: 20px;
}

@media(max-width:1200px){
    .allnews{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 60px;
    }
}
@media(max-width:900px){
    .allnews{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            margin-left: 60px;
    }
}
@media(max-width:600px){
    .allnews{
            display: flex;
            flex-direction: column;
            margin-left: 60px;
    }
}